.send h1{
    margin-left: 40rem;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    padding-left: 40px;
    background-color: bisque;
    font-size: 22px;
    padding-top: 12px;
    align-items: center;
    border-radius: 10px;
   
}